<ion-header>
  <ion-toolbar>
    <ion-title>Education PRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ usuario }}</h2>

  <!-- Tarjeta 1: Información del usuario -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tu Perfil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Aquí puedes gestionar tu información personal.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editarPerfil()">Editar Perfil</button>
    </mat-card-actions>
  </mat-card>

  <!-- Tarjeta 2: Estadísticas o funciones -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Estadísticas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Ver tus estadisticas de promedio de notas.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="verEstadisticas()">Ver Estadísticas</button>
    </mat-card-actions>
  </mat-card>


  <!-- Tarjeta 3: Botón para desconectarse -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Puedes cerrar tu sesión aquí.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="cerrarSesion()">Cerrar Sesión</button>
    </mat-card-actions>
  </mat-card>




  <mat-card>
    <mat-card-header>
      <mat-card-title color="tertiary">Calendario de materias.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime>
    </mat-card-content>

  </mat-card>




</ion-content>



