<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo de Nombre de Usuario -->
  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <!-- Campo de Contraseña -->
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
  </ion-item>

  <!-- Botón de Ingresar -->
  <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>

  <!-- Botón de Restablecer Contraseña -->
  <ion-button expand="block" fill="outline" (click)="restablecerContrasena()">Restablecer Contraseña</ion-button>
</ion-content>


