<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput [(ngModel)]="usuario" name="usuario" required>
      <mat-error *ngIf="usuario === ''">
        El nombre de usuario es obligatorio.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="recuperar()">Recuperar</button>
  </form>
</ion-content>



